@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    <div class="form-inline">
        <label class="control-label">Search: </label>
        <input type="search" name="key" id="key" value="" placeholder="Enter name to search...." />
    </div>
</p>
<table class="table"></table>
<ul class="pagination"></ul>
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function () {
            var getUrl = window.location;
            var baseUrl = getUrl.protocol + "//" + getUrl.host + "/";
            var manager = {
                load: function (page = 1, key = null) {
                    $.ajax({
                        type: "GET",
                        url: baseUrl + "Admin/Course/Get",
                        data: { page: page, key: key },
                        success: function (res) {
                            var _html = '<tr><th>Id</th><th>Name</th><th>Time</th><th>Description</th><th>Price</th><th>Subject</th><th>Certificate</th><th>Category</th><th>Image</th><th>Action</th></tr>';
                            for (var item of JSON.parse(res.Data)) {
                                _html += '<tr>' +
                                    '<td>' + item.EntityId + '</td>' +
                                    '<td>' + item.Name + '</td>' +
                                    '<td>' + item.Time + '</td>' +
                                    '<td>' + item.Description + '</td>' +
                                    '<td>' + item.Price + '</td>' +
                                    '<td>' + item.Subject + '</td>' +
                                    '<td>' + item.Certificate + '</td>' +
                                    '<td>' + item.Category + '</td>' +
                                    '<td>' + item.Image + '</td>' +
                                    '<td>' +
                                    '<button class="btn btn-warning btn-edit mr-1 " data-id="' + item.EntityId + '">Edit</button>' +
                                    '<button class="btn btn-danger btn-delete" data-id="' + item.EntityId + '">Delete</button>' +
                                    '</td>'
                                    + '</tr>';
                            }
                            $('.table').html(_html);
                            var pages = '';
                            for (var i = 1; i <= res.TotalPages; i++) {
                                if (i == res.CurrentPage) {
                                    pages += '<li class="active mr-1"><a href="javascript:void(0)"><button class="btn btn-info">' + i + '</button></a></li>';
                                } else {
                                    pages += '<li><a class="item_page mr-1" href="javascript:void(0)"><button class="btn btn-info">' + i + '</button></a></li>';
                                }
                            }
                            $(".pagination").html(pages);
                        }
                    })
                }
            }
            manager.load();
            $(document).on("click", ".btn-edit", function () {
                var id = $(this).data("id");
                window.location.href = baseUrl + "Admin/Course/Edit/" + id;
            });
            $(document).on("click", ".item_page", function () {
                var page = $(this).text(),
                    key = $('#key').val();
                manager.load(page, key);
            });
            $('#key').keyup(function () {
                var key = $("#key").val();
                manager.load(1, key);
            });
            $(document).on("click", ".btn-delete", function () {
                var id = $(this).data("id");
                if (confirm('Are you sure want delete course with id = ' + id + '?')) {
                    window.location.href = baseUrl + "Admin/Course/Delete/" + id;
                } else {
                    return false;
                }
            });
        });
    </script>
}