@{
    ViewBag.Title = "Index";
}

<h2>Partners</h2>

<a class="btn btn-primary float-left mb-3" href="/Admin/Partner/Create"><i class="far fa-plus-square"></i> Create New</a>
<div class="form-inline mb-3 float-right">
    <div class="input-group">
        <label class="font-weight-bold m-0 mr-1 d-flex align-items-center">Search : </label>
        <input type="text" name="key" id="key" value="" class="form-control mr-1 bg-light small" placeholder="Enter to search..." aria-label="Search" aria-describedby="basic-addon2">
    </div>
    <div class="input-group">
        <label class="font-weight-bold m-0 mr-1 d-flex align-items-center">Search By : </label>
        <select id="type" class="form-control">
            <option value="EntityId" selected>Entity Id</option>
            <option value="Name">Name</option>
        </select>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered"></table>
</div>

<ul class="pagination"></ul>
        
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function () {
            var getUrl = window.location;
            var baseUrl = getUrl.protocol + "//" + getUrl.host + "/";
            var manager = {
                load: function (page = 1, type = null, key = null) {
                    $.ajax({
                        type: "GET",
                        url: baseUrl + "Admin/Partner/Get",
                        data: { page: page, type: type, key: key },
                        success: function (res) {
                            var _html = ' <thead class="thead-dark"><tr><th>Entity Id</th>><th>Name</th><th>Image</th><th>Description</th><th>Action</th></tr></thead>';
                            for (var item of JSON.parse(res.Data)) {
                                _html += '<tbody><tr>' +
                                    '<td>' + item.EntityId + '</td>' +
                                    '<td>' + item.Name + '</td>' +
                                    '<td>' + '<img style="width: 100px" src="' + baseUrl + "Areas/Admin/Content/img/" + item.Image + '">' + '</td>' +
                                    '<td>' + item.Description + '</td>' +
                                    '<td>' +
                                    '<button class="btn btn-warning btn-edit mr-1 mb-1" data-id="' + item.EntityId + '"><i class="fas fa-edit"></i> Edit</button>' +
                                    '<button class="btn btn-danger btn-delete mb-1" data-id="' + item.EntityId + '"><i class="far fa-trash-alt"></i> Delete</button>' +
                                    '</td>'
                                    + '</tr></tbody>';
                            }
                            $('.table').html(_html);
                            var pages = '';
                            for (var i = 1; i <= res.TotalPages; i++) {
                                if (i == res.CurrentPage) {
                                    pages += '<li class="active mr-1"><a href="javascript:void(0)"><button class="btn btn-info">' + i + '</button></a></li>';
                                } else {
                                    pages += '<li><a class="item_page mr-1" href="javascript:void(0)"><button class="btn btn-info">' + i + '</button></a></li>';
                                }
                            }
                            $(".pagination").html(pages);
                        }
                    })
                },
            }
            manager.load();
            $(document).on("click", ".btn-edit", function () {
                var id = $(this).data("id");
                window.location.href = baseUrl + "Admin/Partner/Edit/" + id;
            });
            $(document).on("click", ".item_page", function () {
                var page = $(this).text(),
                    key = $('#key').val(),
                    type = $("#type").val();
                manager.load(page, type, key);
            });
            $('#key').keyup(function () {
                var key = $("#key").val(),
                    type = $("#type").val();
                manager.load(1, type, key);
            });
            $(document).on("change", "#type", function () {
                var key = $("#key").val(),
                    type = $("#type").val();
                manager.load(1, type, key);
            });
            $(document).on("click", ".btn-delete", function () {
                var id = $(this).data("id");
                if (confirm('Are you sure want delete partner with id = ' + id + '?')) {
                    window.location.href = baseUrl + "Admin/Partner/Delete/" + id;
                } else {
                    return false;
                }
            });
        });
    </script>
}