
@{
    ViewBag.Title = "Courses Detail";
}

<div class="containerCourseMain flex">
    <div class="left cusBanner">
        <div class="category">
            <div class="cat">
                <span>Course Details</span>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <div class="courseCategory-first">
                            <a href=""><i class="fa fa-chevron-right" aria-hidden="true"></i>Training 1</a>
                        </div>
                        <div class="courseCategory-second">
                            <ul>
                                <li>
                                    <a href="">Course 1</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="courseItem flex">
            <div class="course cusCourseItem">
                <div class="img">
                    <img src="~/Content/images/Course/android.png" alt="" width="100%">
                </div>
                <div class="description">
                    <span>hello world</span>
                </div>
                <div class="moreInfor ">
                    <div class="containerMoreInfor flex">
                        <div class="admissionCriteria width50">
                            <span>
                                <i class="fa fa-user" aria-hidden="true"></i> 100
                            </span>
                        </div>
                        <div class="price width50">
                            <span>2000000 đ</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="course cusCourseItem">
                <div class="img">
                    <img src="~/Content/images/Course/android.png" alt="" width="100%">
                </div>
                <div class="description">
                    <span>hello world</span>
                </div>
                <div class="moreInfor ">
                    <div class="containerMoreInfor flex">
                        <div class="admissionCriteria width50">
                            <span>
                                <i class="fa fa-user" aria-hidden="true"></i> 100
                            </span>
                        </div>
                        <div class="price width50">
                            <span>2000000 đ</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="course cusCourseItem">
                <div class="img">
                    <img src="~/Content/images/Course/android.png" alt="" width="100%">
                </div>
                <div class="description">
                    <span>hello world</span>
                </div>
                <div class="moreInfor ">
                    <div class="containerMoreInfor flex">
                        <div class="admissionCriteria width50">
                            <span>
                                <i class="fa fa-user" aria-hidden="true"></i> 100
                            </span>
                        </div>
                        <div class="price width50">
                            <span>2000000 đ</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="course cusCourseItem">
                <div class="img">
                    <img src="~/Content/images/Course/android.png" alt="" width="100%">
                </div>
                <div class="description">
                    <span>hello world</span>
                </div>
                <div class="moreInfor ">
                    <div class="containerMoreInfor flex">
                        <div class="admissionCriteria width50">
                            <span>
                                <i class="fa fa-user" aria-hidden="true"></i> 100
                            </span>
                        </div>
                        <div class="price width50">
                            <span>2000000 đ</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

