
@{
    ViewBag.Title = "ShowStudent";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Class Name : @ViewBag.ClassName</h2>

<div class="form-inline mb-3 float-right">
    <div class="input-group">
        <label class="font-weight-bold m-0 mr-1 d-flex align-items-center">Search : </label>
        <input type="text" name="key" id="key" value="" class="form-control mr-1 bg-light small" placeholder="Enter to search..." aria-label="Search" aria-describedby="basic-addon2">
    </div>
    <div class="input-group">
        <label class="font-weight-bold m-0 mr-1 d-flex align-items-center">Search By : </label>
        <select id="type" class="form-control">
            <option value="StudentName" selected>Name</option>
        </select>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered"></table>
</div>

<ul class="pagination"></ul>

<a href="@Url.Action("Index")" class="btn btn-outline-dark mb-2"><i class="fas fa-arrow-circle-left"></i> Back to list</a>

<input type="hidden" id="ClassId" value="@ViewBag.ClassId" />

@section Scripts {
    <script>
        var getUrl = window.location;
        var baseUrl = getUrl.protocol + "//" + getUrl.host + "/";
        var manager = {
            load: function (page = 1, type = null, key = null, classId = 0) {
                $.ajax({
                    type: "GET",
                    url: baseUrl + "Admin/Class/GetStudentInClass",
                    data: { page: page, type: type, key: key, classId: classId },
                    success: function (res) {
                        var _html = ' <thead class="thead-dark"><tr><th>Entity Id</th><th>Student Name</th><th>Phone</th><th>Email</th></tr></thead>';
                        for (var item of JSON.parse(res.Data)) {
                            _html += '<tbody><tr>' +
                                '<td>' + item.EntityId + '</td>' +
                                '<td>' + item.StudentName + '</td>' +
                                '<td>' + item.Phone + '</td>' +
                                '<td>' + item.Email + '</td>' +
                                + '</tr></tbody>';
                        }
                        $('.table').html(_html);
                        var pages = '';
                        for (var i = 1; i <= res.TotalPages; i++) {
                            if (i == res.CurrentPage) {
                                pages += '<li class="active mr-1"><a href="javascript:void(0)"><button class="btn btn-info">' + i + '</button></a></li>';
                            } else {
                                pages += '<li><a class="item_page mr-1" href="javascript:void(0)"><button class="btn btn-info">' + i + '</button></a></li>';
                            }
                        }
                        $(".pagination").html(pages);
                    }
                })
            },
        }

        $(function () {
            var classId = $("#ClassId").val();
            if (classId == null) {
                classId = 0;
            }
            manager.load(1, null, null, classId);
            $(document).on("click", ".item_page", function () {
                var page = $(this).text(),
                    key = $('#key').val(),
                    type = $("#type").val();
                manager.load(page, type, key, classId);
            });
            $('#key').keyup(function () {
                var key = $("#key").val(),
                    type = $("#type").val();
                manager.load(1, type, key, classId);
            });
            $(document).on("change", "#key", function () {
                var key = $("#key").val(),
                    type = $("#type").val();
                manager.load(1, type, key, classId);
            });
            $(document).on("change", "#type", function () {
                var key = $("#key").val(),
                    type = $("#type").val();
                manager.load(1, type, key, classId);
            });
        })
    </script>
}