
@{
    ViewBag.Title = "ShowStudent";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Class Name : @ViewBag.ClassName</h2>

<div class="form-inline mb-3 float-right">
    <div class="input-group">
        <label class="font-weight-bold m-0 mr-1 d-flex align-items-center">Search : </label>
        <input type="text" name="key" id="key" value="" class="form-control mr-1 bg-light small" placeholder="Enter to search..." aria-label="Search" aria-describedby="basic-addon2">
    </div>
    <div class="input-group">
        <label class="font-weight-bold m-0 mr-1 d-flex align-items-center">Search By : </label>
        <select id="type" class="form-control">
            <option value="StudentName" selected>Name</option>
        </select>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered"></table>
</div>

<ul class="pagination"></ul>

<a href="@Url.Action("Index")" class="btn btn-outline-dark mb-2"><i class="fas fa-arrow-circle-left"></i> Back to list</a>

<input type="hidden" id="ClassId" value="@ViewBag.ClassId" />
<div class="modal fade" id="modal-change-class" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="stId" value="" />
                <select id="class-options"></select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="save-class-for-student">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script>
        var getUrl = window.location;
        var baseUrl = getUrl.protocol + "//" + getUrl.host + "/";
        var manager = {
            load: function (page = 1, type = null, key = null, classId = 0) {
                $.ajax({
                    type: "GET",
                    url: baseUrl + "Admin/Class/GetStudentInClass",
                    data: { page: page, type: type, key: key, classId: classId },
                    success: function (res) {
                        var _html = ' <thead class="thead-dark"><tr><th>Student Name</th><th>Phone</th><th>Email</th><th>Action</th></tr></thead>';
                        for (var item of JSON.parse(res.Data)) {
                            _html += '<tbody><tr>' +
                                '<td>' + item.StudentName + '</td>' +
                                '<td>' + item.Phone + '</td>' +
                                '<td>' + item.Email + '</td>' +
                                '<td>'
                                + '<button class="btn btn-warning btn-changeClass mr-1 mb-1" data-id="' + item.EntityId + '"><i class="fas fa-edit"></i> Change Class</button>'
                                + '</td>' +
                                + '</tr></tbody>';
                        }
                        $('.table').html(_html);
                        var pages = '';
                        for (var i = 1; i <= res.TotalPages; i++) {
                            if (i == res.CurrentPage) {
                                pages += '<li class="active mr-1"><a href="javascript:void(0)"><button class="btn btn-info">' + i + '</button></a></li>';
                            } else {
                                pages += '<li><a class="item_page mr-1" href="javascript:void(0)"><button class="btn btn-info">' + i + '</button></a></li>';
                            }
                        }
                        $(".pagination").html(pages);
                    }
                })
            },
            loadClassOptions: function (studentId = 0) {
                $.ajax({
                    type: "GET",
                    url: baseUrl + "Admin/Class/GetClassForStudent",
                    data: { studentId: studentId },
                    success: function (res) {
                        var _html = '';
                        if (res.StatusCode == 200) {
                            var data = JSON.parse(res.Data);
                            if (data != null) {
                                for (var item of data) {
                                    _html += '<option value="' + item.EntityId + '">' + item.Name + '</option>';
                                }
                                $('#class-options').html(_html);
                                $('#modal-change-class').modal('show');
                            } else {
                                alert("No class is ready!");
                            }
                        } else {
                            if (res.StatusCode == 400) {
                                alert(res.Message);
                            } else {
                                alert("Some things went wrong while get ready class for student!");
                            }
                        }
                    }
                })
            },
            changeClass: function (classId, studentId) {
                $.ajax({
                    type: "POST",
                    url: baseUrl + "Admin/Class/ChangeClassForStudent",
                    data: { classId: classId, studentId: studentId },
                    success: function (res) {
                        if (res.StatusCode == 200) {
                            alert(res.Message);
                            manager.load(1, null, null, $('#ClassId').val());
                            $('#modal-change-class').modal('hide');
                        } else {
                            if (res.StatusCode == 400) {
                                alert(res.Message);
                            } else {
                                alert("Some things went wrong while change class for student!");
                            }
                        }
                    }
                })
            }
        }

        $(function () {
            var classId = $("#ClassId").val();
            if (classId == null) {
                classId = 0;
            }
            $(document).on("click", ".btn-changeClass", function () {
                var stId = $(this).data('id');
                if (stId != null && stId != "") {
                    $("#stId").val(stId);
                    manager.loadClassOptions(stId);
                } else {
                    alert("Student Id is not valid!");
                }
            });
            $(document).on("click", "#save-class-for-student", function () {
                var classId = $("#class-options").val(),
                    stId = $("#stId").val();
                if (stId != null && stId != ""
                    && classId != null && classId != "") {
                    manager.changeClass(classId, stId);
                } else {
                    alert("Class Id or Student Id is not valid!");
                }
            })
            manager.load(1, null, null, classId);
            $(document).on("click", ".item_page", function () {
                var page = $(this).text(),
                    key = $('#key').val(),
                    type = $("#type").val();
                manager.load(page, type, key, classId);
            });
            $('#key').keyup(function () {
                var key = $("#key").val(),
                    type = $("#type").val();
                manager.load(1, type, key, classId);
            });
            $(document).on("change", "#key", function () {
                var key = $("#key").val(),
                    type = $("#type").val();
                manager.load(1, type, key, classId);
            });
            $(document).on("change", "#type", function () {
                var key = $("#key").val(),
                    type = $("#type").val();
                manager.load(1, type, key, classId);
            });
        })
    </script>
}