
@{
    ViewBag.Title = "Courses Detail";
}
@if (TempData["CoureNotExist"] != null)
{
    <div class="alert alert-danger">@TempData["CoureNotExist"]</div>
}
<div class="CourseMain">
    <div class="bannerCourse">
        <div class="title">
            <span>Course</span>
        </div>
    </div>
    <div class="containerCourseMain flex">
        <div class="left cusBanner">
            <div class="category">
                <div class="cat">
                    <span>Course</span>
                </div>
                <div class="menu">
                    <ul>
                        @{ if (ViewBag.ChildCategories != null)
                            {
                                foreach (var item in ViewBag.ChildCategories)
                                {
                                    <li><a class="defaultMenu" href="~/Home/Course/@item.EntityId">@item.Name</a></li>
                                }
                            }
                            else
                            {
                                <li>No child Categories</li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="courseItem flex">
                @{if (ViewBag.Coures != null)
                    {
                        foreach (var item in ViewBag.Coures)
                        {
                            <div class="course cusCourseItem">
                                <a href="~/Home/CourseDetail/@item.EntityId">
                                    <div class="img">
                                        <img src="~/Areas/Admin/Content/img/@item.Image" alt="" width="100%">
                                    </div>
                                    <div class="description">
                                        <span>@item.Name</span>
                                    </div>
                                    <div class="moreInfor ">
                                        <div class="containerMoreInfor flex">
                                            <div class="admissionCriteria width50">
                                                <span>
                                                    <i class="fa fa-user" aria-hidden="true"></i> 100
                                                </span>
                                            </div>
                                            <div class="price width50">
                                                <span>@item.Price</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                    else
                    {
                        <h3>No courses here</h3>
                    }
                }
            </div>
        </div>
    </div>
    <div class="formCourse flex">
        <div class="left">
            <form action="/" method="post">
                <div class="title">
                    <span>SIGN UP FOR FREE</span>
                </div>
                <div class="form-row">
                    <input type="type" name="name" value="" placeholder="Fullname*" />
                </div>
                <div class="form-row">
                    <input type="type" name="name" value="" placeholder="Email*" />
                </div>
                <div class="form-row">
                    <input type="type" name="name" value="" placeholder="Phone*" />
                </div>
                <div class="form-row">
                    <select name="cars" id="cars" placeholder="Give us questions">
                        <option selected>Choose course</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>
                <div class="form-row">
                    <textarea rows="5" placeholder="Give us questions"></textarea>
                </div>
                <div class="btnFormIndex">
                    <button type="submit">Send</button>
                </div>
            </form>
        </div>
        <div class="right">
            <img src="https://bachkhoa-aptech.edu.vn/public/assets/imgs/themes/subscribe.png" alt="Alternate Text" style="margin-top: 148px;" />
        </div>
    </div>
</div>


