
@{
    ViewBag.Title = "Courses Detail";
}

<div class="CourseMain">
    <div class="bannerCourse">
        <div class="title">
            <span>Course Details</span>
        </div>
    </div>
    <div class="containerCourseDetail flex">
        <div class="left">
            <div class="img">
                <img src="/Content/images/Course/android.png" alt="Alternate Text" width="100%" />
            </div>
            <div class="price">
                <span><span>Course fees: </span>100000</span>$
            </div>
        </div>
        <div class="right">
            <div class="infor">
                <div class="containerItem">
                    <div class="name cusItem">
                        <span><span class="cdSpan">Course's Name: </span>Tên</span>
                    </div>
                    <div class="time">
                        <span><span class="cdSpan">Time: </span>Thời gian khoá học</span>
                    </div>
                    <div class="subject cusItem">
                        <span><span class="cdSpan">Subject: </span>Môn học</span>
                    </div>
                    <div class="certi cusItem">
                        <span><span class="cdSpan">Certificate: </span>chứng nhận</span>
                    </div>
                    <div class="at cusItem">
                        <span><span class="cdSpan">Admission time: </span>thời gian tuyển sinh</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="instituteLecturers">
        <div class="mainLecturesInfor">
            <div class="title">
                <span>
                    excellent lecturers
                </span>
            </div>
            <section id="features" class="blue">
                <div class="content">
                    <div class="slider slider-nav">
                        <div class="cusLecturer">
                            <img src="https://bachkhoa-aptech.edu.vn/public/assets/uploads/images/gv_nguyen_duy_quang.jpg" width="100px" height="100px" />
                            <span>abc</span>
                        </div>
                        <div class="cusLecturer">
                            <img src="https://bachkhoa-aptech.edu.vn/public/assets/uploads/images/gv_nguyen_van_luan.jpg" width="100px" height="100px" />
                            <span>abc</span>
                        </div>
                        <div class="cusLecturer">
                            <img src="https://bachkhoa-aptech.edu.vn/public/assets/uploads/images/gv_vu_tuan_minh.jpg" width="100px" height="100px" />
                            <span>abc</span>
                        </div>
                        <div class="cusLecturer">
                            <img src="https://bachkhoa-aptech.edu.vn/public/assets/uploads/images/gv_nguyen_anh_luong.jpg" width="100px" height="100px" />
                            <span>abc</span>
                        </div>
                    </div>
                </div>
            </section>
            <div class="detailInfor">
                <div class="containerLecturer">
                    <div class="inforLecture flex">
                        <div class="text">
                            <span>Lecturer</span>
                            <div class="slider slider-for">
                                <div>
                                    <div class="name cusInfor">
                                        <span>Đoàn Văn Năng1</span>
                                    </div>
                                    <div class="specialize cusInfor">
                                        <span>Giảng viên java</span>
                                    </div>
                                    <div class="subject cusInfor">
                                        <span>Các môn giảng dạy: <span>Java, .NET, PHP, Angular</span></span>
                                    </div>
                                </div>
                                <div>
                                    <div class="name cusInfor">
                                        <span>Đoàn Văn Năng1</span>
                                    </div>
                                    <div class="specialize cusInfor">
                                        <span>Giảng viên java</span>
                                    </div>
                                    <div class="subject cusInfor">
                                        <span>Các môn giảng dạy: <span>Java, .NET, PHP, Angular</span></span>
                                    </div>
                                </div>
                                <div>
                                    <div class="name cusInfor">
                                        <span>Đoàn Văn Năng1</span>
                                    </div>
                                    <div class="specialize cusInfor">
                                        <span>Giảng viên java</span>
                                    </div>
                                    <div class="subject cusInfor">
                                        <span>Các môn giảng dạy: <span>Java, .NET, PHP, Angular</span></span>
                                    </div>
                                </div>
                                <div>
                                    <div class="name cusInfor">
                                        <span>Đoàn Văn Năng1</span>
                                    </div>
                                    <div class="specialize cusInfor">
                                        <span>Giảng viên java</span>
                                    </div>
                                    <div class="subject cusInfor">
                                        <span>Các môn giảng dạy: <span>Java, .NET, PHP, Angular</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="img">
                            <div class="slider slider-for">
                                <div>
                                    <img src="https://bachkhoa-aptech.edu.vn/public/assets/uploads/images/gv_nguyen_duy_quang.jpg" />
                                </div>
                                <div>
                                    <img src="https://bachkhoa-aptech.edu.vn/public/assets/uploads/images/gv_nguyen_van_luan.jpg" />
                                </div>
                                <div>
                                    <img src="https://bachkhoa-aptech.edu.vn/public/assets/uploads/images/gv_vu_tuan_minh.jpg" />
                                </div>
                                <div>
                                    <img src="https://bachkhoa-aptech.edu.vn/public/assets/uploads/images/gv_nguyen_anh_luong.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="institutePartner">
        <div class="title">
            <span>
                Recruitment partner network
            </span>
        </div>
        <div class="cusPartner">
            <div class="owl-carousel nav-partner" id="owl-carousel">
                <div class="logoPartner">
                    <img src="https://bachkhoa-aptech.edu.vn/public/assets/uploads/images/cmc.png" />
                </div>
                <div class="logoPartner">
                    <img src="https://bachkhoa-aptech.edu.vn/public/assets/uploads/images/misa.png" />
                </div>
                <div class="logoPartner">
                    <img src="https://bachkhoa-aptech.edu.vn/public/assets/uploads/images/FSI.png" />
                </div>
                <div class="logoPartner">
                    <img src="https://bachkhoa-aptech.edu.vn/public/assets/uploads/images/vnp-group.png" />
                </div>
            </div>
        </div>
    </div>
</div>


