@{ ViewBag.Title = "ExamResult"; }

<div class="mainExamResult">
    <div class="containerExamResult">
        <div class="title">
            <span>
                <i class="fa fa-search" aria-hidden="true"></i> The last exam results
            </span>
        </div>
        <div class="containerContentResult">
            <div class="cate flex">
                <div class="checkResult cusCate cateActive" id="checkResult">
                    <span>Check your result</span>
                </div>
                <div class="allResult cusCate" id="allResult">
                    <span>All results</span>
                </div>
                <div class="cusCate2"></div>
            </div>
            <div class="content">
                <div class="search" id="search">
                    <div class="flex">
                        <div class="labelSearch">
                            <span>Search</span>
                        </div>
                        <div class="form-row">
                            <form action="/" method="post">
                                <input type="type" name="name" value="" placeholder="Roll Number" />
                            </form>
                        </div>
                    </div>
                    <div class="info" style="margin: 20px 0">
                        <div class="name cusInfoCheckResult">
                            <span>Full Name: <span>Đặng Tuấn Đạt</span></span>
                        </div>
                        <div class="phone cusInfoCheckResult">
                            <span>Phone: <span>0818260399</span></span>
                        </div>
                        <div class="email cusInfoCheckResult">
                            <span>Email: <span>dangtuandat99@gmail.com</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="resultCheck">
            
            <div class="tableCheckResult" id="tableCheckResult">
                <table style="width: 90%;margin: 0 auto">
                    <tr>
                        <th>No</th>
                        <th>Roll Number</th>
                        <th>Entrance Exam</th>
                        <th>Mark</th>
                        <th>Result</th>
                        <th>Class</th>
                        <th>Course fees</th>
                        <th>Date to pay</th>
                    </tr>
                    <tr>
                        <td>Jill</td>
                        <td>Smith</td>
                        <td>50</td>
                        <td>50</td>
                        <td style="font-weight: bold">Jill</td>
                        <td>Jill</td>
                        <td>Smith</td>
                        <td>50</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="resultAll">
            <div class="tableCheckResult disNone" id="tableAllResult">
                <table style="width: 90%;margin: 0 auto">
                    <tr>
                        <th>No</th>
                        <th>Roll Number</th>
                        <th>Full Name</th>
                        <th>Entrance Exam</th>
                        <th>Mark</th>
                        <th>Result</th>
                        <th>Class</th>
                    </tr>
                    <tr>
                        <td>Jill</td>
                        <td>Smith</td>
                        <td>50</td>
                        <td>50</td>
                        <td>50</td>
                        <td style="font-weight: bold">Jill</td>
                        <td>Smith</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $("#checkResult").click(function () {
        $("#checkResult").addClass("cateActive");
        $("#allResult").removeClass("cateActive");
        $("#tableAllResult").addClass("disNone");
        $("#tableCheckResult").removeClass("disNone");
        $("#search").removeClass("disNone");
    });
    $("#allResult").click(function () {
        $("#checkResult").removeClass("cateActive");
        $("#allResult").addClass("cateActive");
        $("#tableAllResult").removeClass("disNone");
        $("#tableCheckResult").addClass("disNone");
        $("#search").addClass("disNone");
    });
</script>
