@{ ViewBag.Title = "Faq"; }

<div class="faq">
    <div class="bannerFaq">
        <div class="title">
            <span>How can we help you?</span>
        </div>
    </div>
    <div class="containerFaq">
        <div class="mainFaq">
            <ul id="faq-container"></ul>
        </div>
    </div>
</div>
<script>
    $("#itemFaq").on("click", function (e) {
        e.preventDefault();
    });


    var baseUrl = window.location.protocol + "//" + window.location.host + "/";
    $.ajax({
        type: "GET",
        url: baseUrl + "Faq/getFaq",
        success: function (res) {
            var _html = '';
            $.each(JSON.parse(res.data), function (index, value) {
                _html += '<li class="parentLiStyle" data-faq-id="' + value.EntityId + '" id="parentLi' + value.EntityId + '">' +
                    '<div class="flex">' +
                    '<div class="ques width90"><span>' + value.Question + '</span></div>'
                    + '<div class="icon width10">'
                    + '<span><i class="fa fa-chevron-up" aria-hidden="true" id="cherFaq' + value.EntityId +'"></i></span>'
                    + '</div ></div ></li > '
                    + '<ul class="disNone" id="childLi' + value.EntityId + '"><li class="childLiStyle">' + value.Answer + '</li></ul>';
            });
            $('#faq-container').html(_html);
        }
    });
    $(document).on("click", ".parentLiStyle", function () {
        var qId = "#parentLi" + $(this).data('faq-id');
        var aId = "#childLi" + $(this).data('faq-id');
        var cId = "#cherFaq" + $(this).data('faq-id');
        if (!$(aId).hasClass('childFaqDown')) {
            $(aId).addClass("childFaqDown");
            $(cId).addClass("cherFaq");
        } else {
            $(aId).removeClass("childFaqDown");
            $(cId).removeClass("cherFaq");
        }
    });
</script>